.dark-mode-shadow {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2) !important;
}

.bg-sky-100 {
    background-color: rgb(224 242 254);
}

.bg-sky-50 {
    background-color: rgb(240 249 255);
}

.bg-yellow-50 {
    background-color: rgb(254 252 232);
}

.bg-cyan-50 {
    background-color: rgb(236 254 255);
}

.border-blue-600 {
    border-color: rgb(37 99 235);
}

.bg-zinc-900 {
    background-color: rgb(24 24 27);
    ;
}

.bg-zinc-700 {
    background-color: rgb(63 63 70);
}

.bg-zinc-800 {
    background-color: rgb(39 39 42);
}

.bg-red-50 {
    background-color: rgb(254 242 242);
}

.bg-cyan-50 {
    background-color: rgb(236 254 255);
}

.bg-slate-900 {
    background-color: rgb(15 23 42);
}

.bg-indigo-50 {
    background-color: rgb(238 242 255);
}

.h-50 {
    height: 12.5rem;
}

.game {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-hidden {
    min-height: 100vh;
}

.captured-pieces-container {
    position: relative;
}

.captured-pieces-container>div {
    position: absolute;
}

.bg-blur {
    opacity: 0.95;
}

.bg-unblur {
    opacity: 1;
}

.min-h-32 {
    min-height: 8rem;
}

.min-w-32 {
    min-width: 8rem;
}

.h-32 {
    height: 8rem;
}

.bottom-8 {
    bottom: 5rem;
}

@media (min-width: 768px) {
    .md\:h-48 {
        height: 12rem
            /* 192px */
        ;
    }
}

@media (min-width: 768px) {
    .md\:w-96 {
        width: 24rem
            /* 384px */
        ;
    }
}

.bg-zinc-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 245 / var(--tw-bg-opacity));
}

.bg-zinc-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.bg-gray-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
}

.max-w-20 {
    max-width: 5rem/* 80px */;
}

.max-w-32 {
    max-width: 8rem/* 128px */;
}

.w-36 {
    width: 9rem/* 144px */;
}

.w-28 {
    width: 7.5rem/* 112px */;
}

.w-34 {
    width: 8.25rem
}

.max-w-96 {
    max-width: 24rem/* 384px */;
}