.user-friend {
    min-height: calc(100vh - 3.75rem);
}

.search-bar {
    width: 600px;
}

@media screen and (max-width: 520px) {
    .search-bar {
        width: 350px !important;
    }
}

@media screen and (max-width: 620px) {
    .search-bar {
        width: 450px;
    }
}

@media screen and (max-width: 900px) {
    .search-bar {
        width: 500px;
    }
}